
chat-room {
  p{
    margin:0 !important;
    padding:0 !important;
  }

  .chat-room-frame{
    background-color: white;
    border-bottom: 1px solid #e0e0e0 !important;
    cursor: pointer;
  }
  .chat-room-frame:hover {
    background-color: rgba(107, 166, 238, 0.1);
  }
  .chat-title{
    font-size: 15px;
  }
  .chat-title, .chat-message{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .msg-badge{
    width: 20px;
    height:20px;
    border-radius: 50%;
    font-size: 10px;
    background-color: orangered;
  }

  .chat-time {
    color: #999;
    font-weight: 500;
    font-size: 11px;
  }

  .member-count{
    font-size: 12px;
    color: #777;
    font-weight: bold;

  }
  .chat-message{
    color: #999;
    font-weight: 500;
    font-size: 12px;
  }

}
