<ion-header>
    <ion-item class="drag listBorder" no-margin no-padding no-lines>
        <div class="electron-menu">
          <ion-item class="opacity">
            <ion-range [(ngModel)]="opacity" color="dark" (ionChange)="opacityChanges(opacity)"></ion-range>   
          </ion-item>
          <button ion-button icon-only clear small color="light" (click)="windowMimimize()">
            <ion-icon class="login-top-menu windowMimimize" name="md-remove"></ion-icon>
          </button>
          <button ion-button icon-only clear small color="light" (click)="windowClose()">
            <ion-icon class="login-top-menu" name="md-close"></ion-icon>
          </button>
        </div>
        <div class="squadChatTitleCon">
          <h2 class="chatName"> {{ roomName }}</h2>
          <p class="members" *ngIf="roomCount > 1"><ion-icon name="person"></ion-icon> {{ roomCount }} </p> 
          <p class="members" *ngIf="roomCount == 1"><ion-icon name="person"></ion-icon> {{ roomCount }} </p> 
          <div class="header-menu">
            <button ion-button clear icon-only small color="dark">
              <ion-icon name="search"></ion-icon>
            </button>
            <button ion-button clear icon-only small color="dark">
              <ion-icon name="notifications"></ion-icon>
            </button>
            <button ion-button clear icon-only small color="dark">
              <ion-icon name="menu"></ion-icon>
            </button>
          </div>
        </div>
    </ion-item>
  </ion-header>
   
   <ion-content>
      <div class="message-wrap"> 
        <div *ngFor="let msg of messages"
             class="message"
             [class.left]="msg.data.senderId != this.bizFire.currentUID"
             [class.right]="msg.data.senderId === this.bizFire.currentUID">
          <ion-avatar class="notPhoto" item-start *ngIf="msg.data.photoURL == null && msg.data.senderId != this.bizFire.currentUID && msg.data.message != ''">
            <span class="senderName">{{ msg.data.senderName | slice:0:2 }}</span>
          </ion-avatar>
          <ion-avatar *ngIf="msg.data.photoURL != null && msg.data.senderId != this.bizFire.currentUID">
            <img class="user-img" src="{{msg.data.photoURL}}">
          </ion-avatar>
          <!-- <ion-spinner name="dots" *ngIf="msg.status === 'pending'"></ion-spinner> -->

          <!-- 날짜 표시 컨텐츠 -->
          <div class="notice_content" *ngIf="msg.data.notice === 1">
            <ion-grid>
              <ion-row>
                <ion-col col-4>
                    <hr>
                </ion-col>
                <ion-col col-4 class="time_notice">
                    <div>{{ msg.data.created * 1000 | date: 'MMMM d'}}th, {{ msg.data.created * 1000 | date: 'yyyy' }}</div>
                </ion-col>
                <ion-col col-4>
                    <hr>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
          <!-- 메세지 컨텐츠 -->
          <div class="msg-detail">
            <div class="msg-info" *ngIf="msg.data.senderId != this.bizFire.currentUID && msg.data.message != ''">
              <p>{{msg.data.senderName}}</p>
            </div>
            <!-- 메세지 폼 -->
            <div class="msg-content" *ngIf="msg.data.files == null && msg.data.message != ''">
                <span class="triangle" *ngIf="msg.data.senderId == this.bizFire.currentUID"></span>
                <p class="line-breaker textdrag">{{msg.data.message}}</p>
                <div class="msg-time-content" *ngIf="msg.data.senderId == this.bizFire.currentUID">
                  <span class="time">{{ msg.data.created * 1000 | date: 'a hh:mm' }}</span>
                </div>
              </div>
              <!-- 파일 폼 -->
              <ng-container *ngIf="msg.data.files != null">
                <div class="msg-content-file" *ngIf="msg.data.files.type == '' || msg.data.files.type.substring(0,3) == 'app' || msg.data.files.type.substring(0,4) == 'text'">
                  <button class="download_button" ion-button clear icon-only small color="dark" (click)="downloadFile(msg.data.files.url)">
                    <ion-icon name="download"></ion-icon>
                  </button>
                  <p class="line-breaker">{{msg.data.files.name}}</p>
                  <p class="line-breaker file-volume">Size: {{ msg.data.files.size / 1000 | number: '1.0-1' }}KB</p>
                  <div class="msg-time-content" *ngIf="msg.data.senderId == this.bizFire.currentUID">
                    <span class="time">{{ msg.data.created * 1000 | date: 'a hh:mm' }}</span>
                  </div>
                </div>
              </ng-container>
              <!-- 파일이 이미지일 경우 폼 -->
              <ng-container *ngIf="msg.data.files != null">
                <div class="msg-content-img" *ngIf="msg.data.files.type.substring(0,5)=='image'">
                  <button class="download_button" ion-button clear icon-only small color="dark" (click)="downloadFile(msg.data.files.url)">
                    <ion-icon name="download"></ion-icon>
                  </button>
                  <img class="msg-img" [ngClass]="{'msg-img-svg': msg.data.files.type == 'image/svg+xml'}" [src]="msg.data.files.url">
                  <span class="triangle" *ngIf="!msg.data.files && msg.data.senderId == this.bizFire.currentUID"></span>
                  <div class="msg-time-content" *ngIf="msg.data.senderId == this.bizFire.currentUID">
                    <span class="time">{{ msg.data.created * 1000 | date: 'a hh:mm' }}</span>
                  </div>
                </div>
              </ng-container>
            <div class="msg-time-content" *ngIf="msg.data.senderId != this.bizFire.currentUID  && msg.data.notice != 1">
              <span class="time">{{ msg.data.created * 1000 | date: 'a hh:mm' }}</span>
            </div>
          </div>
        </div>
      </div>
    </ion-content>
    <ion-footer no-border>
      <div class="input-menu">
        <button ion-button clear icon-only small color="dark" (click)="fileAttach.click()">
          <ion-icon name="attach"></ion-icon>
        </button>
        <input #fileAttach type="file" style="display: none;" #fileAttach (change)="file($event)">
        <button ion-button clear icon-only small color="dark">
          <ion-icon name="happy"></ion-icon>
        </button> 
      </div>
      <div class="input-wrap">
        <textarea id="drag-file"
                  #chat_input
                  placeholder=""
                  [(ngModel)]="editorMsg"
                  (focusin)="onFocus()">
        </textarea>  
        <button class="sendButton" ion-button item-right (click)="sendMsg()">
          send
        </button>
      </div>
    </ion-footer>