<ion-header>
    <ion-item class="drag listBorder" no-margin no-padding no-lines>
      <div class="electron-menu">
        <ion-item class="opacity">
          <ion-range [(ngModel)]="opacity" color="dark" (ionChange)="opacityChanges(opacity)"></ion-range>
        </ion-item>
        <button ion-button icon-only clear small color="light" (click)="windowMimimize()">
          <ion-icon class="login-top-menu windowMimimize" name="md-remove"></ion-icon>
        </button>
        <button ion-button icon-only clear small color="light" (click)="windowClose()">
          <ion-icon class="login-top-menu" name="md-close"></ion-icon>
        </button>
      </div>

      <ion-avatar *ngIf="selectSquad.data.photoURL" style="margin-left: 16px !important" item-start>
        <img class="photoURL" src="{{selectSquad.data.photoURL}}">
      </ion-avatar>
      <ion-avatar *ngIf="selectSquad.data.photoURL == null"
                  [style.background-color]="this.groupColorProvider.makeSquadColor(selectSquad.data)"
                  class="notPhoto" item-start>
          <span class="displayName">{{ selectSquad.data.name | slice:0:2 }}</span>
      </ion-avatar>

      <h2 class="chatName"> {{ selectSquad.data.name }}</h2>
      <p class="members" *ngIf="roomCount"><ion-icon name="person"></ion-icon> {{ roomCount }} </p>
      <div class="header-menu">
<!--        <button ion-button clear icon-only small color="dark">-->
<!--          <ion-icon name="search"></ion-icon>-->
<!--        </button>-->
        <button ion-button clear icon-only small color="dark">
          <ion-icon name="menu"></ion-icon>
        </button>
      </div>
    </ion-item>
  </ion-header>
  <ion-header class="progress-Header" *ngIf="loadProgress > 0">
    <progress-bar [progress]="loadProgress"></progress-bar>
  </ion-header>

   <ion-content #scrollMe (ionScroll)="scrollHandler($event)">
      <div *ngIf="!showContent" class="loading-content"></div>
      <div class="message-wrap">
        <div *ngFor="let msg of messages"
             class="message"
             [class.left]="msg.data.sender != this.bizFire.currentUID"
             [class.right]="msg.data.sender === this.bizFire.currentUID">

          <ng-container *ngIf="msg.data.message.notice">
            <!--notice.type 으로 판명-->
            <ng-container *ngIf="msg.data.message.notice.type != null">
              <ng-container [ngSwitch]="msg.data.message.notice.type">

                <!--START 누가 시작함.-->
                <ng-container *ngSwitchCase="'init'">
                  <div class="notice-frame" *ngIf="langPack">
                    {{langPack['create_chat_room']}}
                  </div>
                </ng-container>

                <!--EXIT 채팅방에서 누가 나감-->
                <ng-container *ngSwitchCase="'exit'">
                  <div class="notice-frame" *ngIf="langPack">
                    <ng-container *ngIf="userGetObserver(msg.data.message.notice.uid[0]) | async let user">
                      {{ langPack['chat_exit_user_notice'].replace('$DISPLAYNAME', user.data.displayName) }}
                    </ng-container>
                  </div>
                </ng-container>

                <!--INVITE 누가 들어옴.-->
                <ng-container *ngSwitchCase="'invite'">
                  <div class="notice-frame" *ngIf="langPack">

                  </div>
                </ng-container>

              </ng-container>
            </ng-container>
          </ng-container>

          <ng-container *ngIf="getUserObserver(msg.data) | async; let user">
            <ion-avatar *ngIf="!user.data.photoURL && msg.data.sender != this.bizFire.currentUID && !msg.data.isNotice"
            class="notPhoto" [style.background-color]="this.groupColorProvider.makeSquadColor(selectSquad.data)" item-start>
              <span class="senderName">{{ user.data.displayName | slice:0:2 }}</span>
            </ion-avatar>
            <ion-avatar *ngIf="user.data.photoURL && msg.data.sender != this.bizFire.currentUID">
              <img class="user-img" src="{{user.data.photoURL}}">
            </ion-avatar>

            <div class="msg-detail" *ngIf="!msg.data.isNotice">
              <div class="msg-info" *ngIf="msg.data.sender != this.bizFire.currentUID">
                <p>{{user.data.displayName}}</p>
              </div>

              <div class="msg-content" *ngIf="msg.data.message.files == null">
                  <span class="triangle" *ngIf="msg.data.sender == this.bizFire.currentUID"></span>
                  <p class="line-breaker textdrag" [innerHtml]="msg.data.message.text | sanitizingHtml"></p>
                  <div class="msg-time-content" *ngIf="msg.data.sender == this.bizFire.currentUID">
                    <span class="time">{{ msg.data.created | timestampToDate | date: 'a hh:mm' }}</span>
                  </div>
                </div>

              <ng-container *ngIf="msg.data.message.files &&  msg.data.message.files.length > 0">
                <ng-container *ngFor="let file of msg.data.message.files">
                  <div class="msg-content-img">
                    <button class="download_button" ion-button clear icon-only small color="dark" (click)="downloadFile(file.url)">
                      <ion-icon name="download"></ion-icon>
                    </button>
                       <img (load)="imgLoadSuccess()" [src]="file.url" style="min-width: 120px; min-height: 120px">
<!--                    <img class="msg-img" [src]="file.url">-->
<!--                    <ion-img [cache]="true" style="min-width: 120px; min-height: 80px" src="{{file.url}}"></ion-img>-->

                    <span class="triangle" *ngIf="!file && msg.data.sender == this.bizFire.uid"></span>
                    <div class="msg-time-content" *ngIf="msg.data.sender == this.bizFire.uid">
                      <span class="time">{{ msg.data.created | timestampToDate | date: 'a hh:mm' }}</span>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
              <div class="msg-time-content" *ngIf="msg.data.sender != this.bizFire.currentUID">
                  <span class="time">{{ msg.data.created | timestampToDate | date: 'a hh:mm' }}</span>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </ion-content>
    <ion-footer no-border>
      <div class="input-menu d-flex justify-content-between align-items-center">
        <button ion-button clear icon-only small color="dark" (click)="fileAttach.click()">
          <ion-icon name="attach"></ion-icon>
        </button>
        <input #fileAttach type="file" style="display: none;" #fileAttach (change)="file($event)" accept="image/jpeg,image/gif,image/png">
        <span class="chatLengthError" *ngIf="chatLengthError">{{ chatLengthError }} </span>
      </div>
      <div class="input-wrap">
        <form [formGroup]="chatForm">
          <textarea formControlName="chat" (keydown)="keydown($event)">
          </textarea>
        </form>
        <button type="submit" color="dark" class="sendButton" ion-button item-right
                (click)="sendMsg(chatForm.value.chat)" [disabled]="chatForm.invalid">send
        </button>
      </div>
    </ion-footer>
