page-customlink {

    ion-footer{
        text-align: center;
    }
    .width80{
        width: 80%;
    }
    .mg-left-16{
        margin-left: 16px;
    }
    .title{
        padding-top: 16px;
        padding-bottom: 16px;
        text-align: center;
        font-size:13px;
        color:white;
        font-weight: bold;
    }
    input {
        user-select: auto !important;  
     } 
}
