page-tabs {
    .login-top-menu{
        -webkit-app-region: no-drag;
    }
    ion-navbar{
        -webkit-app-region: drag;
    }
    #badge {
        position: absolute;
        left: 14px;
        top: 1px;
        border-radius: 100%;
        padding: 0;
        width: 17px;
        height: 17px;
        font-size: 12px;
        line-height: 1.4;
        background-color: red;
    }
    .tab-button ion-badge{
        border-radius: 100%;
    }
    .groupName{
        text-transform: none;
        font-weight: bold;
    }

    .header-md::after,
    .tabs-md[tabsPlacement="top"] > .tabbar::after,
    .footer-md::before,
    .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
    background-image: none;
    }

    // custom tabs icon
    .ion-md-customHome {
        background: url(../../www/imgs/md-home.svg) 50% 50% no-repeat;
        height: 27px;
        width: 27px;
    }
    .ion-md-customChat {
        background: url(../../www/imgs/menu_chat.svg) 50% 50% no-repeat;
        height: 27px;
        width: 27px;
    }
    .ion-md-customSquad {
        background: url(../../www/imgs/menu_board.svg) 50% 50% no-repeat;
        height: 27px;
        width: 27px;
    }
    .ion-md-customMember {
        background: url(../../www/imgs/menu_user.svg) 50% 50% no-repeat;
        height: 27px;
        width: 27px;
    }
}
