page-squad {
    ion-segment-button{
        color:black !important;
        text-transform: capitalize !important;
    }
    .scrollable{
        height: 90%;
        white-space: nowrap;
        overflow: auto !important;
    }
    .segment-padding {
        padding: 4px;
    }
    .list{
        color:#62a8ea;
        font-weight: bold;
        font-size: 14px;
    }
    .label-md{
        margin:0 !important;
        line-height: 2.5;
    }
    .long-text{
        text-overflow: ellipsis;
        overflow: hidden;
        display: block;
        width: 70%;
        white-space: nowrap;
    }
    .folder-long-text{
        text-overflow: ellipsis;
        overflow: hidden;
        display: block;
        width: 65%;
        white-space: nowrap;
    }
    .member-count{
        font-size:11px;
        position: absolute;
        color:#999;
        font-weight: 600;
        right:77px;
        bottom:7px;
    }
    .folder-member-count{
        font-size:11px;
        position: absolute;
        color:#999;
        font-weight: 600;
        right:84px;
        bottom:7px;
        line-height: 2.5;
    }
    .squadList-button{
        bottom:3px;
        position: absolute;
        right: 45px;
    }
    .squadList-video{
        bottom:4px;
        position: absolute;
        right: 10px;
        width: 30px;
        opacity: 0.8;
    }
    .squadList-button-folder{
        bottom:3px;
        position: absolute;
        right: 52px;
    }
    .squadList-video-folder{
        bottom:4px;
        position: absolute;
        right: 18px;
        width: 30px;
        opacity: 0.8;
    }
    .squadList-item{
        font-size: 15px;
        color:#222;
    }
    .segmentPadding{
        padding: 5px 3px;
    }

    .squadList-item:hover {
        background-color: rgba(91, 156, 237, 0.1);
    }
    .folder-item{
        font-size: 15px;
        margin:0;
        line-height: 2.5;
        color:#222;
    }
    .folder-squad-length{
        font-size: 11px;
    }
    .chat_img{
        width: 20px;
        height: 25px;
    }

    // scroll bar
    .scrollable{
        height: 90%;
        overflow: auto !important;
    }
    ::-webkit-scrollbar,
    *::-webkit-scrollbar {
        display: inherit;
    }
    ::-webkit-scrollbar-track {
        // -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3) !important;
        // border-radius: 8px!important;
        background-color: #f6f6f6!important;
        margin-bottom: 35px;
    }
    ::-webkit-scrollbar {
        width: 12px!important;
        background-color: #f6f6f6!important;
    }
    ::-webkit-scrollbar-thumb {
        // border-radius: 8px!important;
        // -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,.3)!important;
        border: 2px solid #f6f6f6 !important;
        background-color: #BEBEBE!important;
        opacity: 0.7;
        border-radius: 7px !important;
    }

}
