page-chat {
    ion-segment-button{
        color:black !important;
        text-transform: capitalize !important;
    }
    ion-avatar{
        border-radius: 100%;
    }
    .list-md .item-block .item-inner{
        border-bottom: none !important;
    }
    .marginB56{
        margin-bottom: 56px;
    }
    .chat-item{
        padding: 3px 5px 3px 16px;
        border-bottom: 1px solid #e0e0e0 !important;
        cursor: pointer;
    }
    .chat-item:hover {
        background-color: rgba(107, 166, 238, 0.1);
    }
    .chat-message{
        display: inline-block;
        width: 70%;
    }
    .chat-time{
        display: inline-block;
        width: 30%;
        text-align: right;
    }
    .chat-count{
        float:right;
        line-height: 1.5;
        font-size: 12px !important;
        color:#777;
        font-weight: bold;
    }    
    .notPhoto{
        background-color:#c96a5c;
        text-align: center;
    }
    .displayName{
        font-weight: bold;
        color:white;
        line-height: 2.5;
    }

    .squadRoomName{
        display: block;
        width: 75%;
        font-size: 15px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        margin-bottom: 6px;
    }
    .squadMemberCount{
        position: absolute;
        top: 18px;
        right: 20px;
        line-height: 1.5;
        font-size: 12px !important;
        color:#777;
        font-weight: bold;
    }



    // scroll bar
    .scrollable{
        height: 90%;
        white-space: nowrap;
        overflow: auto !important;
    }
    
    ::-webkit-scrollbar,
    *::-webkit-scrollbar {
        display: inherit;
    }
    ::-webkit-scrollbar-track {
        // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) !important;
        // border-radius: 8px!important;
        background-color: #f6f6f6!important;
    }
    ::-webkit-scrollbar {
        width: 8px!important;
        background-color: #f6f6f6!important;
    }
    ::-webkit-scrollbar-thumb {
        // border-radius: 8px!important;
        // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3)!important;
        background-color: #999!important;
        opacity: 0.7;
    }
    // end
}
