chat-header {

  // start header CSS //

  .drag{
    -webkit-app-region: drag;
  }
  .listBorder{
    height: 84px;
    border-bottom: 1px solid #e0e0e0 !important;
  }
  .electron-menu{
    position: absolute;
    top: 1px;
    right: 1px;
  }
  .opacity{
    position: absolute;
    right: 70px;
    top: -8px;
    -webkit-app-region: no-drag;
  }
  .login-top-menu{
    -webkit-app-region: no-drag;
    color: #757272;
  }
  .windowMimimize{
    padding-top: 8px;
  }
  .chatName-frame {
    width: 65%;
    margin-left: 16px;
  }
  .chatName{
    font-size: 15px;
    font-weight: 500;
    padding-right: 18%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .members{
    padding-top: 5px;
    display: inline-block;
  }
  .header-menu{
    position: absolute;
    right: 0;
    bottom: 10px;
    -webkit-app-region: no-drag;
  }

  .members:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  // end header CSS //


}
