page-chat-frame {
  // 자식포함 + (header)
  ion-item {
    background-color: map-get($colors, light) !important;
  }

  // chat body Frame Design
  .message-wrap {
    padding: 10px;
    height: 100%;
  }

  // chat input Design
  .input-menu {
    padding: 0 5px;
    display: flex;
    height: 35px;
    background-color: #f4f4f4;
    border-bottom: 1px solid #e0e0e0;
  }
  .input-wrap {
    padding: 5px;
    display: flex;
    height: 90px;
    form {
      height: 90px;
      flex: 1;
    }
    textarea {
      flex: 1;
      border: 0;
      height: 80px;
    }
  }
  textarea {
    width: calc(100% - 20px);
    margin-left: 10px;
    background-color: #fff;
    font-size: 14px;
    resize: none;
    border: none;
  }
  .sendButton{
    height: auto;
    opacity: 0.8;
    border-radius: 7px;
    text-transform: capitalize;
    width:80px;
  }


  // scroll bar
  .scrollable{
    height: 100%;
    overflow: scroll !important;
  }
  ::-webkit-scrollbar,
  *::-webkit-scrollbar {
    display: inherit;
  }
  ::-webkit-scrollbar-track {
    // -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3) !important;
    // border-radius: 8px!important;
    background-color: #f6f6f6!important;
  }
  ::-webkit-scrollbar {
    width: 10px!important;
    background-color: #f6f6f6!important;
  }
  ::-webkit-scrollbar-thumb {
    // border-radius: 8px!important;
    // -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,.3)!important;
    border: 2px solid #f6f6f6 !important;
    background-color: #BEBEBE!important;
    opacity: 0.7;
    border-radius: 7px !important;
  }

}
