<ion-header>
  <chat-header [chat]="newChatRoom"></chat-header>
</ion-header>

<ion-header class="progress-Header" *ngIf="loadProgress > 0">
  <progress-bar [progress]="loadProgress"></progress-bar>
</ion-header>

<ion-content #scrollContent (ionScroll)="scrollHandler($event)">
  <div class="message-wrap">
    <app-message [menu]="false" [comment]="false" [message]="message" *ngFor="let message of chatContent"></app-message>
  </div>
</ion-content>

<ion-footer no-border>
  <div class="input-menu d-flex justify-content-between align-items-center">
    <button ion-button clear icon-only small color="dark" (click)="fileAttach.click()">
      <ion-icon name="attach"></ion-icon>
    </button>
    <input #fileAttach type="file" style="display: none;" #fileAttach (change)="file($event)" accept="image/jpeg,image/gif,image/png">
    <span class="chatLengthError" *ngIf="chatLengthError">{{ chatLengthError }} </span>
  </div>
  <div class="input-wrap">
    <form [formGroup]="chatForm">
      <textarea formControlName="chat" (keydown)="keydown($event)">
      </textarea>
    </form>
    <button type="submit" color="dark" class="sendButton" ion-button item-right
            (click)="sendMsg(chatForm.value.chat)" [disabled]="chatForm.invalid">send
    </button>
  </div>
</ion-footer>
