page-member-chat-menu {
    ion-content{
        background-color: #EBEBEB !important;

        .menu-div{
            padding: 2px 0;
            height: 22px;
            text-align: center;
        }
        .menu-div:hover {
            color: white;
            background-color: #50A5F6;
        }
    }

    .listBorder{
        border-bottom: 1px solid #999 !important;
    }
}
