<ion-content no-padding class="content-color">
    <ion-scroll class="scrollable" scrollY="true">
        <section id="cd-timeline" class="cd-container">
            <div *ngFor="let msg of messages">
                <div class="cd-timeline-block">
                    <ng-container *ngIf="msg.data.user != null">
                        <div class="cd-timeline-picture text-center white" *ngIf="msg.data.user.data.photoURL != null">
                            <img src="{{ msg.data.user.data.photoURL }}">
                        </div>
                        <ion-avatar [style.background-color]="groupMainColor" class="cd-timeline-picture text-center notPhoto" item-start *ngIf="msg.data.user.data.photoURL == null">
                            <span class="displayName">{{ msg.data.user.data.displayName | slice:0:1 }}</span>
                        </ion-avatar>
                        <div class="cd-timeline-content padding white" (click)="onClickNotifyContents(msg)">
                            <p class="cd-author marginTop5 marginBottom5">
                                <span class="from">{{msg.data.header[0]}}</span>
                                <span class="created">{{msg.notification.created | timestampToDate | date: 'MM/dd HH:mm'}}</span>
                            </p> 
                            <p class="timelineText marginBottom5 marginTop5">
                                <span class="notifyType">[{{msg.notification.type}}]</span>
                                {{msg.data.header[1]}}
                            </p>
                        </div>
                    </ng-container>
                </div>
            </div>
        </section>
    </ion-scroll>
        <div class="noNotify" *ngIf="noNotify">
            <img src="imgs/none_alarm.svg">
            <p>No new notifications</p>
        </div>
</ion-content> 