<ion-header>
  <ion-item class="drag listBorder" no-margin no-padding no-lines>
      <div class="top-menu">
        <button ion-button icon-only clear small color="light" (click)="windowMimimize()">
          <ion-icon class="login-top-menu windowMimimize" name="md-remove"></ion-icon>
        </button>
        <button ion-button icon-only clear small color="light" (click)="windowClose()">
          <ion-icon class="login-top-menu" name="md-close"></ion-icon>
        </button> 
      </div>
  
      <!-- 프로필 사진이 있으면 -->
        <!-- <ion-avatar item-start *ngIf="currentUser && currentUser.photoURL">
          <img class="photoURL" src="{{currentUser.photoURL}}">
        </ion-avatar> -->
      <!-- 프로필 사진이 없으면 -->
      <ion-avatar class="notPhoto" item-start *ngIf="true">
          <span class="displayName">ka</span>
      </ion-avatar>
      <h2 class="squadName">Name</h2>
      <p class="members"><ion-icon name="person"></ion-icon> 2 </p> 
  </ion-item>
</ion-header>
<ion-content no-padding>
  <ion-list class="chat-list" no-lines>
      <ion-item *ngFor="let msg of messages">
          <div class="chat-bubble">
              <div class="chat-message">{{msg.data.message}}</div>
          </div>
      </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar> 
    <form [formGroup]="sendForm" (keyup.enter)="sendMessage()">
      <textarea [(ngModel)]="message" spellcheck="true" formControlName="sendMessage" autoComplete="true" autocorrect="true" rows="1" class="chat-input" placeholder="type message...">
      </textarea>
      <ion-buttons right>
          <button (click)="sendMessage()" ion-button icon-only item-right class="send-chat-button">
                <ion-icon name="send"></ion-icon>
          </button>
      </ion-buttons>
    </form>
  </ion-toolbar>
</ion-footer>

