page-member-chat {
    ion-avatar{
        border-radius: 100%;
        float: left;
        position: relative;
        bottom: 5px;
    }
    .drag{
        -webkit-app-region: drag;
    }
    .login-top-menu{
        -webkit-app-region: no-drag;
        color: #757272;
    }
    .opacity{
        position: absolute;
        right: 70px;
        top: -8px;
        -webkit-app-region: no-drag;
    }
    .range-md .range-knob{
        border: 2px solid silver;
        background: white !important;
    }
    .header-menu{
        float:right;
        -webkit-app-region: no-drag;
    }
    .windowMimimize{
        padding-top: 8px;
    }
    .electron-menu{
        position: absolute;
        top: 1px;
        right: 1px;
    }
    .no-padding-topAndBot{
        padding-top: 0;
        padding-bottom:0;
    }
    .chatName{
        font-size: 15px;
        font-weight: 500;
        padding-right: 18%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .members{
        padding-top: 5px;
        display: inline-block;
    }
    ion-list{
        padding-right: 0px;
    }
    .item-md.item-block .item-inner{
        padding-right: 0px !important;
    }
    ion-label{
        margin-right: 0 !important;
    }
    
    // 프로필 사진이 없을 때.
    .notPhoto{
        background-color:#c96a5c;
        text-align: center;
        margin-left:16px !important;
    }
    .displayName{
        font-weight: bold;
        color:white;
        line-height: 2.5;
    }
    .listBorder{
        border-bottom: 1px solid #e0e0e0 !important;
    }


    // chat
    .scroll-content {
        background-color: map-get($colors, light);
    }
    textarea {
        width: calc(100% - 20px);
        margin-left: 10px;
        background-color: #fff;
        font-size: 1.2em;
        resize: none;
        border: none;
    }   
    .sendButton{
        height: auto;
        opacity: 0.8;
        border-radius: 7px;
        text-transform: capitalize;
        width:70px;
    }
    ion-item {
        background-color: map-get($colors, light) !important;
    }
    .chat-bubble {
        width: 65%;
        overflow: hidden;
    }
    .chat-message {
        padding: 20px;
        border-radius: 5px; 
        background-color: #fff;
        white-space: normal;
    }

    .line-breaker {
        white-space: pre-line;
        margin: 0 0 8px 0;
    }
    .download_button{
        position: absolute;
        left: -35px;
        bottom: 9px;
    }


    // scroll bar
    .scrollable{
        height: 100%;
        overflow: scroll !important;
    }
    ::-webkit-scrollbar,
    *::-webkit-scrollbar {
        display: inherit;
    }
    ::-webkit-scrollbar-track {
        // -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3) !important;
        // border-radius: 8px!important;
        background-color: #f6f6f6!important;
    }
    ::-webkit-scrollbar {
        width: 12px!important;
        background-color: #f6f6f6!important;
    }
    ::-webkit-scrollbar-thumb {
        // border-radius: 8px!important;
        // -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,.3)!important;
        border: 2px solid #f6f6f6 !important;
        background-color: #BEBEBE!important;
        opacity: 0.7;
        border-radius: 7px !important;
    }



        $userBackgroundColor: #FCEC4C;
        $toUserBackgroundColor: #fff;
      
        ion-content .scroll-content {
        //   background-color: #f5f5f5;
            background-color: #C9DBE5;
        }
      
        ion-footer {
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.11);
          background-color: #fff;
        }
      
        .line-breaker {
          white-space: pre-line;
        }

        .member_3{
            min-width: 30px;
            min-height: 30px;
            margin-right: 25px !important;
            .photoURL{
                width: 30px;
                height: 30px;
            }
            .displayName{
                line-height: 1.7;
            }
        }
        .member_3:nth-child(3){
            position: absolute !important;
            left:15px;
        }
        .member_4{
            min-width: 25px;
            min-height: 25px;
            margin-right: 35px !important;
            margin-top: 5px !important;
            .photoURL{
                width: 25px;
                height: 25px;
            }
            .displayName{
                line-height: 1.5;
            }
        }
        .member_4:nth-child(n+3){
            position: absolute !important;
        }
        .member_4:nth-child(3){
            bottom: 10px;
        }
        .member_4:nth-child(4){
            top:8px;
            left:26px;
        }
        .member_4:nth-child(5){
            bottom: 10px;
            left:26px;
        }
        .member_4:nth-child(n+6){
            display: none;
        }
      
        .input-wrap {
          padding: 5px;
          display: flex;
          height: 75px;
          textarea {
            flex: 1;
            border: 0;
            border-bottom: 1px $userBackgroundColor;
            border-style: solid;
          }
        }
        .input-menu {
            padding: 0 5px;
            display: flex;
            height: 35px;
            background-color: #f4f4f4;
            border-bottom: 1px solid #e0e0e0;
        }
      
        .message-wrap {
          padding: 0 10px;
          .message {
            position: relative;
            padding: 7px 0;

            .user-img {
              position: absolute;
              border-radius: 100%;
              width: 38px;
              height: 38px;
              box-shadow: 0 0 2px rgba(0, 0, 0, 0.36);
            }
            .notPhoto {

                .senderName{
                    font-weight: bold;
                    color:white;
                    line-height: 3;
                }
                
                margin-left: 0 !important;
            }

            ion-avatar{
                border-radius: 100%;
                position: absolute;
                width: 45px;
                height: 45px;
                top:5px;
            }
      
            .msg-detail {
              width: 100%;
              display: inline-block;
              p {
                margin: 0;
              }
              .msg-info {
                p {
                  font-size: .8em;
                  color: #333;
                }
              }
      
              .msg-content {
                position: relative;
                margin-top: 5px;
                border-radius: 5px;
                padding: 8px;
                border: 1px solid #ddd;
                color: black;
                width: auto;
                max-width: 80%;
                font-size: 13px;
                span.triangle {
                  background-color: #fff;
                  border-radius: 1px;
                  height: 8px;
                  width: 8px;
                  top: 5px;
                  display: block;
                  border-style: solid;
                  border-color: #ddd;
                  border-width: 1px;
                  -webkit-transform: rotate(45deg);
                  transform: rotate(45deg);
                  position: absolute;
                }
              }
              .msg-content-file {
                position: relative;
                margin-top: 5px;
                border-radius: 5px;
                color: black;
                width: auto;
                max-width: 170px;
                font-size: 13px;
                span.triangle {
                  background-color: #fff;
                  border-radius: 1px;
                  height: 8px;
                  width: 8px;
                  top: 5px;
                  display: block;
                  border-style: solid;
                  border-color: #ddd;
                  border-width: 1px;
                  -webkit-transform: rotate(45deg);
                  transform: rotate(45deg);
                  position: absolute;
                }
                .msg-file{
                    border-radius: 5px;
                }
              }
            }
          }
      
          .message.left {
            .msg-content {
              background-color: $toUserBackgroundColor;
              float: left;
            }
            .msg-content-file {
                float: left;
              }
            .msg-time-content{
                position: absolute;
                display: inline-block;
                margin-left: 5px;
                bottom: 10px;
                .time{
                    color:#999;
                    font-size: 11px;
                }
              }
            .msg-detail {
              padding-left: 50px;
            }
            .user-img {
              left: 0;
            }
            ion-avatar {
                left: 0;
              }
            .msg-content {
              color: #343434;
              span.triangle {
                border-top-width: 0;
                border-right-width: 0;
                left: -5px;
              }
            }
            .msg-content-file {
                color: #343434;
                span.triangle {
                  border-top-width: 0;
                  border-right-width: 0;
                  left: -5px;
                }
              }
      
          }
      
          .message.right {
            .msg-detail {
              .msg-info {
                text-align: right;
              }
            }
            .msg-time-content{
                position: absolute;
                display: inline-block;
                margin-right: 5px;
                min-width: 55px;
                left:-52px;
                bottom: 1px;
                min-width: 55px;
                .time{
                    color:#999;
                    font-size: 11px;
                }
              }
            ion-avatar {
              right: 0;
            }
            .user-img {
                right: 0;
              }
            ion-spinner {
              position: absolute;
              right: 10px;
              top: 50px;
            }
            .msg-content {
              background-color: $userBackgroundColor;
              float: right;
              span.triangle {
                background-color: $userBackgroundColor;
                border-bottom-width: 0;
                border-left-width: 0;
                right: -5px;
              }
            }
            .msg-content-file {
                float: right;
              }
      
          }
      
        }


}
