<ion-header>
  <ion-item class="drag listBorder" no-margin no-padding no-lines>
      <div class="electron-menu">
        <ion-item class="opacity">
          <ion-range [(ngModel)]="opacity" color="dark" (ionChange)="opacityChanges(opacity)"></ion-range> 
        </ion-item> 
        <button ion-button icon-only clear small color="light" (click)="windowMimimize()">
          <ion-icon class="login-top-menu windowMimimize" name="md-remove"></ion-icon>
        </button>
        <button ion-button icon-only clear small color="light" (click)="windowClose()" (keyup.esc)="windowClose()">
          <ion-icon class="login-top-menu" name="md-close"></ion-icon>
        </button>
      </div>

      <ng-container *ngIf="roomCount === 1">
        <!-- 방에 혼자 있다면... -->
        <div style="height:40px; width:20px; position: relative; float: left;"></div>
      </ng-container>

      <div class="chatName-frame">
        <h2 class="chatName" *ngIf="roomCount > 1">{{ chatTitle | slice : 0 : chatTitle.length - 1 }}</h2>
        <h2 class="chatName" *ngIf="roomCount === 1">No conversation member</h2>
        <p class="members"><ion-icon name="person"></ion-icon> {{this.roomCount}} </p>
      </div>
      <div class="header-menu">
        <button ion-button clear icon-only small color="dark">
          <ion-icon name="search"></ion-icon>
        </button>
        <button ion-button clear icon-only small color="dark" (tap)="presentPopover($event)">
          <ion-icon name="menu"></ion-icon>
        </button>
      </div>
  </ion-item>
</ion-header>

 <ion-content #scrollMe>
      <div class="message-wrap">
        <ion-infinite-scroll position="top" (ionInfinite)="doInfinite($event)" *ngIf="messages.length >= 30">
          <ion-infinite-scroll-content loadingText="Loading more chats..."></ion-infinite-scroll-content>
        </ion-infinite-scroll>
        <div *ngFor="let msg of messages"
            class="message"
            [class.left]="msg.data.senderId != chatroom.uid"
            [class.right]="msg.data.senderId === chatroom.uid">

          <div class="notice_content" *ngIf="msg.data.notice">
            <ion-grid>
              <ion-row>
                <ion-col col-1>
                  <hr>
                </ion-col>
                <ion-col col-10 class="time_notice">
                  <div>{{ msg.data.message }}</div>
                </ion-col>
                <ion-col col-1>
                  <hr>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>

<!--          <div class="notice_content" *ngIf="msg.data.notice">-->
<!--            <ion-grid>-->
<!--              <ion-row>-->
<!--                <ion-col col-4>-->
<!--                  <hr>-->
<!--                </ion-col>-->
<!--                <ion-col col-4 class="time_notice">-->
<!--                  <div>{{ msg.data.created | timestampToDate | date: 'MMMM d'}}th, {{ msg.data.created | timestampToDate | date: 'yyyy' }}</div>-->
<!--                </ion-col>-->
<!--                <ion-col col-4>-->
<!--                  <hr>-->
<!--                </ion-col>-->
<!--              </ion-row>-->
<!--            </ion-grid>-->
<!--          </div>-->

          <ng-container *ngIf="getUserObserver(msg.data) | async; let user">
            <ion-avatar class="notPhoto" [style.background-color]="groupMainColor"
            item-start *ngIf="user.data.photoURL == null && msg.data.senderId != chatroom.uid && !msg.data.notice">
              <span class="senderName">{{ user.data.displayName | slice:0:2 }}</span>
            </ion-avatar>
            <ion-avatar *ngIf="user.data.photoURL != null && msg.data.senderId != chatroom.uid">
              <img class="user-img" src="{{user.data.photoURL}}">
            </ion-avatar>

            <div class="msg-detail" *ngIf="!msg.data.notice">
              <div class="msg-info" *ngIf="msg.data.senderId != chatroom.uid">
                <p>{{user.data.displayName}}</p>
              </div>

              <div class="msg-content" *ngIf="msg.data.files == null">
                <span class="triangle" *ngIf="msg.data.senderId == chatroom.uid"></span>
                <p class="line-breaker textdrag">{{msg.data.message}}</p>
                <div class="msg-time-content" *ngIf="msg.data.senderId == chatroom.uid">
                  <span class="time">{{ msg.data.created | timestampToDate | date: 'a hh:mm' }}</span>
                </div>
              </div>

              <ng-container *ngIf="msg.data.files != null">
                <div class="msg-content-file" *ngIf="msg.data.files.type == '' || msg.data.files.type.substring(0,3) == 'app' || msg.data.files.type.substring(0,4) == 'text'">
                  <button class="download_button" ion-button clear icon-only small color="dark" (click)="downloadFile(msg.data.files.url)">
                    <ion-icon name="download"></ion-icon>
                  </button>
                  <p class="line-breaker textdrag">{{msg.data.files.name}}</p>
                  <p class="line-breaker file-volume">Size: {{ msg.data.files.size / 1000 | number: '1.0-1' }}KB</p>
                  <div class="msg-time-content" *ngIf="msg.data.senderId == chatroom.uid">
                    <span class="time">{{ msg.data.created | timestampToDate | date: 'a hh:mm' }}</span>
                  </div>
                </div>
              </ng-container>

              <ng-container *ngIf="msg.data.files != null">
                <div class="msg-content-img" *ngIf="msg.data.files.type.substring(0,5)=='image'">
                  <button class="download_button" ion-button clear icon-only small color="dark" (click)="downloadFile(msg.data.files.url)">
                    <ion-icon name="download"></ion-icon>
                  </button>
                  <img class="msg-img" [src]="msg.data.files.url">

                  <span class="triangle" *ngIf="!msg.data.files && msg.data.senderId == chatroom.uid"></span>
                  <div class="msg-time-content" *ngIf="msg.data.senderId == chatroom.uid">
                    <span class="time">{{ msg.data.created | timestampToDate | date: 'a hh:mm' }}</span>
                  </div>
                </div>
              </ng-container>
              <div class="msg-time-content" *ngIf="msg.data.senderId != chatroom.uid">
                <span class="time">{{ msg.data.created | timestampToDate | date: 'a hh:mm' }}</span>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
  </ion-content>
  <ion-footer no-border>
    <div class="input-menu">
      <button ion-button clear icon-only small color="dark" (click)="fileAttach.click()">
        <ion-icon name="attach"></ion-icon>
      </button>
      <input #fileAttach type="file" style="display: none;" #fileAttach (change)="file($event)" accept="image/jpeg,image/gif,image/png">
      <button ion-button clear icon-only small color="dark" (click)="getMoreMessages()">
        <ion-icon name="happy"></ion-icon>
      </button>
      <!-- <button *ngIf="roomCount === 2" ion-button clear icon-only small color="dark" style="position: absolute; right:5px">
        <ion-icon name="videocam"></ion-icon>
      </button>  -->
    </div>
    <div class="input-wrap">
      <textarea id="drag-file"
                #chat_input
                [(ngModel)]="editorMsg" 
                (keydown)="keydown($event)">
      </textarea>
      <button color="dark" class="sendButton" ion-button item-right (click)="sendMsg(editorMsg)" [disabled]="!editorMsg">
        send
      </button>
    </div>
  </ion-footer>
