<ion-header>
  <ion-item class="drag listBorder" no-margin no-padding no-lines>
      <div class="top-menu">
        <button ion-button icon-only clear small color="light" (click)="windowMimimize()">
          <ion-icon class="login-top-menu windowMimimize" name="md-remove"></ion-icon>
        </button>
        <button ion-button icon-only clear small color="light" (click)="windowClose()">
          <ion-icon class="login-top-menu" name="md-close"></ion-icon>
        </button> 
      </div>
      
      <ng-container *ngFor="let member of roomMembers;">
        <ion-avatar style="margin-left: 16px !important" item-start *ngIf="member && member.photoURL">
          <img class="photoURL" src="{{member.photoURL}}">
        </ion-avatar>
        <ion-avatar class="notPhoto" item-start *ngIf="member && member.photoURL == null">
            <span class="displayName">{{ member.name | slice:0:2 }}</span>
        </ion-avatar>
      </ng-container>

      <h2 class="chatName">{{ chatTitle | slice : 0 : chatTitle.length - 1 }}</h2>
      <p class="members"><ion-icon name="person"></ion-icon> {{this.roomCount}} </p> 
  </ion-item>
</ion-header>
<!-- <ion-content no-padding>
  <ion-scroll class="scrollable" scrollY="true">
    <ion-list no-lines>
        <ion-item *ngFor="let msg of messages" [class]="msg.data.senderId == chatroom.uid ? 'message right' : 'message left'">
          <ion-avatar item-start *ngIf="msg.data.photoURL == null">
              {{ msg.data.senderName| slice:0:2 }}
          </ion-avatar>
          <ion-avatar *ngIf="msg.data.photoURL != null">
            <img src="{{msg.data.photoURL}}">
          </ion-avatar>
          <div class="msg-detail">
            <div class="msg-info">
              <p>  12345 </p>
            </div>
            <div class="msg-content">
              <span class="triangle"></span>
              <p class="line-breaker">{{ msg.data.message }}</p>
            </div>
            <div class="file" *ngIf="msg.data.file != ''">
                <img src="{{msg.data.file}}">
            </div>
          </div>
        </ion-item>
    </ion-list>
  </ion-scroll>
</ion-content>

<ion-footer>
  <ion-toolbar> 
    <form [formGroup]="sendForm" (keyup.enter)="sendMessage()">
      <textarea [(ngModel)]="message" spellcheck="true" formControlName="sendMessage" autoComplete="true" autocorrect="true" rows="1" class="chat-input" placeholder="type message...">
      </textarea>
      <ion-buttons right>
          <button (click)="sendMessage()" ion-button icon-only item-right class="send-chat-button">
                <ion-icon name="send"></ion-icon>
          </button>
      </ion-buttons>
    </form>
  </ion-toolbar>
</ion-footer>
 -->

 <ion-content>
    <div class="message-wrap">
      <div *ngFor="let msg of messages"
           class="message"
           [class.left]="msg.data.senderId != chatroom.uid"
           [class.right]="msg.data.senderId === chatroom.uid">
        <ion-avatar class="notPhoto" item-start *ngIf="msg.data.photoURL == null && msg.data.senderId != chatroom.uid">
          <span class="senderName">{{ msg.data.senderName | slice:0:2 }}</span>
        </ion-avatar>
        <ion-avatar *ngIf="msg.data.photoURL != null && msg.data.senderId != chatroom.uid">
          <img class="user-img" src="{{msg.data.photoURL}}">
        </ion-avatar>
        <!-- <ion-spinner name="dots" *ngIf="msg.status === 'pending'"></ion-spinner> -->
        <div class="msg-detail">
          <div class="msg-info" *ngIf="msg.data.senderId != chatroom.uid">
            <p>{{msg.data.senderName}}</p>
          </div>
          <div class="msg-content">
            <span class="triangle"></span>
            <p class="line-breaker">{{msg.data.message}}</p>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
  <ion-footer no-border>
    <div class="input-wrap">
      <textarea #chat_input
                placeholder=""
                [(ngModel)]="editorMsg"
                (keyup.enter)="sendMsg()"
                (focusin)="onFocus()">
      </textarea>  
      <button ion-button clear icon-only item-right (click)="sendMsg()">
        <ion-icon name="ios-send" ios="ios-send" md="md-send"></ion-icon>
      </button>
    </div>
  </ion-footer>