// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//

// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

body {
  font-family: Roboto, Helvetica Neue,Hiragino Kaku Gothic ProN,"メイリオ",meiryo,sans-serif;
}

.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
  outline: none !important;
}
button:focus,button:active:focus,button.active:focus,
button.focus,button:active.focus,button.active.focus {
  outline: none !important;
}

.content-color{
    background-color: #f6f6f6;
  }

.squadList-button{
    transition-duration: 0.4s;
    height: 42px;
}
.item-md p{
    color:#999;
    font-weight: 500;
    font-size: 12px;
}
ion-item:hover a {
    background-color: slategray !important;
}
.content .scroll-content {
    overflow-y: auto;
}

// menu page - popover template
.page-menu{
    .popover-content{
        top:43px !important;
        left:0 !important;
        width: 78% !important;
        height: 85% !important;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        background-color: #f6f6f6 !important;
    }
}

// member page - popover template
.page-profile{
    .popover-content{
        top:15% !important;
        left:7% !important;
        width: 86% !important;
        height: 360px !important;
        border-radius: 10px;
        background-color: white !important;
    }
}

// chat page invite popover - popover template
.page-invite{
    .popover-content{
        top: inherit !important;
        bottom: 80px;
        right:25px !important;
        left: auto !important;
        width: 280px;
        height: 400px;
        border: 3px;
        background-color: #f6f6f6 !important;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}
.page-invite-room{
    .popover-content{
        right: 15px !important;
        left: auto !important;
        width: 280px;
        height: 400px;
        border: 3px;
        background-color: #f6f6f6 !important;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}
// member page - popover template
.page-member-chat-menu{
    .popover-content{
        top: 65px !important;
        left: auto !important;
        right: 18px;
        width: 130px;
        height: 72px;
        border: 3px;
        background-color: #f6f6f6 !important;
        border-radius: 5px;
        // border-top-left-radius: 5px;
        // border-top-right-radius: 5px;
        // border-bottom-left-radius: 5px;
        // border-bottom-right-radius: 5px;
    }
}


.page-customlink{
    .popover-content{
        top:40% !important;
        left:10% !important;
        width: 80% !important;
        height: 45%;
        border-radius: 5px;
        // border-top-right-radius: 3px;
        // border-bottom-right-radius: 3px;
        background-color: white !important;
    }
}


//custom toast
.toast-wrapper {
  top: 90px !important;
  width: 80% !important;
  text-align: center !important;
  border-radius: 15px !important;
  opacity: 0.8 !important;
  transform: translateY(0%)!important;
  bottom: initial !important;

  .toast-container{

    .toast-message{
      padding: 8px !important;
      font-size: 13px !important;
    }

  }
}

