<ion-content no-padding class="content-color">
  <ion-list class="listHeight" [ngClass]="{'listHeightAuto': !isListShown}">
    <ion-item class="group-list-item" no-lines (click)="showAllNotify()">
      <ion-avatar class="all_notify_button" item-start>
        all
        <ion-badge *ngIf="badgeCount" class="groupBadge">{{ badgeCount }}</ion-badge>
      </ion-avatar>
    </ion-item>
    <ng-container *ngFor="let group of groups;">
      <ng-container *ngIf="groupNotify(group.gid)">
        <ion-item class="group-list-item" no-lines (click)="notifyFilter(group)">
          <ion-avatar class="hoverAvatar" item-start *ngIf="!group.data.photoURL" [style.background-color]="group.data.team_color">
            {{ group.data.team_name | slice:0:2 }}
            <ion-badge *ngIf="groupCountBadge(group.gid)" class="groupBadge">{{ groupCountBadge(group.gid) }}</ion-badge>
          </ion-avatar>
          <ion-avatar class="hoverAvatar" *ngIf="group.data.photoURL" item-start [style.background-color]="group.data.team_color">
              <img style="border-radius: 15%;" src="{{ group.data.photoURL }}">
            <ion-badge *ngIf="groupCountBadge(group.gid)" class="groupBadge">{{ groupCountBadge(group.gid) }}</ion-badge>
          </ion-avatar>
        </ion-item>
      </ng-container>
    </ng-container>
  </ion-list>
  
   <section id="cd-timeline" class="cd-container">
       <button class="isListShown-button" ion-button color="dark" clear icon-only (click)="toggleList()">
           <ion-icon [name]="isListShown ? 'ios-arrow-down' : 'ios-arrow-up'"></ion-icon>
       </button>
       <div *ngFor="let msg of messages">
          <ng-container *ngIf="makeHtml(msg) | async as noticeItem">
             <div class="cd-timeline-block">
              <ng-container *ngIf="noticeItem.html.user">
                  <div class="cd-timeline-picture text-center white" *ngIf="noticeItem.html.user.data.photoURL != null">
                    <img src="{{ noticeItem.html.user.data.photoURL }}">
                  </div>
                  <ion-avatar class="cd-timeline-picture text-center notPhoto" [style.background-color]="noticeItem.html.groupColor" item-start *ngIf="noticeItem.html.user.data.photoURL == null">
                     <span class="displayName">{{ noticeItem.html.user.data.displayName | slice:0:2 }}</span>
                  </ion-avatar>
              </ng-container>
              <ng-container *ngIf="!noticeItem.html.user">
                 <div class="cd-timeline-picture text-center white">
                    <img src="imgs/btn_close.svg">
                 </div>
              </ng-container>
                <div class="cd-timeline-content padding white" (click)="onClickNotifyContents(msg)">
                  <p class="cd-author marginTop5 marginBottom5">
                      <span class="from" *ngIf="noticeItem.html.user" [style.color]="noticeItem.html.groupColor">{{noticeItem.html.user.data.displayName}}</span>
                      <span class="from" *ngIf="!noticeItem.html.user" [style.color]="noticeItem.html.groupColor">{{noticeItem.html.header[0]}}</span>
                      <span class="created" [ngClass]="{'new-notify': noticeItem.data.statusInfo.done !== true}">
                        {{noticeItem.data.created | timestampToDate | date: 'MM/dd HH:mm'}}
                      </span>
                  </p>
                  <p class="timelineText marginBottom5 marginTop5">
                      {{noticeItem.html.header[0]}} {{noticeItem.html.header[1]}}
                  </p>
                  <div *ngIf="msg.data.groupInvite === true">
                    <button ion-button color="secondary" clear small (click)="groupInvite(msg)">Accept</button>
                  </div>
                </div>
              </div>
          </ng-container>
       </div>
   </section>
</ion-content>

<div class="noNotify" *ngIf="noNotify">
    <img src="imgs/none_alarm.svg">
    <p>No new notifications</p>
</div> 

