<ng-container *ngIf="currentGroup">
  <ion-header>
      <!-- 선택된 멤버가 없으면 텍스트 출력 -->
      <p *ngIf="isChecked.length == 0" class="title" [style.background-color]="currentGroup.data.team_color" no-margin>Select the member<br> you want to chat with in the list.</p>
      <ion-scroll class="scrollable" scrollY="true">
        <div *ngIf="isChecked && isChecked.length > 0" class="badge-memberCon" [style.background-color]="currentGroup.data.team_color">
          <ng-container *ngFor="let user of isChecked;">
            <button *ngIf="user.data.isChecked" class="memberList-button" ion-button icon-end round color="light" (click)="badgeMember(user)">
                {{ user.data.displayName }}
                <ion-icon name="close"></ion-icon>
            </button>
          </ng-container>
        </div>
      </ion-scroll>
      <ion-searchbar [style.background-color]="currentGroup.data.team_color" [(ngModel)]="serachValue" mode="ios"></ion-searchbar>
    </ion-header>

    <ion-content no-padding>
      <ion-scroll class="scrollable" scrollY="true">
        <ion-list no-margin *ngIf="userList$ | async as userList">
          <ng-container *ngFor="let user of userList">
            <ng-container>
              <ion-item class="userList" no-lines *ngIf="!serachValue || user.data.displayName.indexOf(serachValue.trim())>-1">
                <ion-avatar item-start *ngIf="user && user.data.photoURL">
                  <img class="photoURL" src="{{ user.data.photoURL }}">
                  <div class="statusBadge" [style.background-color]="makeUserStatus(user.data)"></div>
                </ion-avatar>
                <ion-avatar class="notPhoto" [style.background-color]="currentGroup.data.team_color" item-start *ngIf="user && user.data.photoURL == null">
                  <span class="displayName"> {{ setUserName(user.data) }} </span>
                  <div class="statusBadge" [style.background-color]="makeUserStatus(user.data)"></div>
                </ion-avatar>
                <ion-label *ngIf="user.data.displayName != null">{{ user.data.displayName }}</ion-label>
                <ion-label *ngIf="user.data.displayName == null">{{ user.data.email }}</ion-label>
                <ion-checkbox slot="end" [color]="groupMainColor" [(ngModel)]="user.data.isChecked" mode="ios" (click)="selectedUser(userList)"></ion-checkbox>
              </ion-item>
            </ng-container>
          </ng-container>
        </ion-list>
      </ion-scroll>
    </ion-content>
    <ion-footer>
        <button class="footer-button" ion-button round small color="light" (click)="closePopup()">cencel</button>
        <button ion-button round small [color]="groupMainColor" (click)="invite()">invite</button>
    </ion-footer>

</ng-container>
