<ion-content no-padding class="content-color">
  <ion-item no-lines>
    <!-- 프로필 사진이 있으면 -->
    <ion-avatar item-start *ngIf="currentUser && currentUser.photoURL">
        <img class="photoURL" src="{{currentUser.photoURL}}">
        <ion-badge id="statusBadge" (click)="showStatus()" [style.background-color]="myStatus">V</ion-badge>
    </ion-avatar>
    <!-- 프로필 사진이 없으면 -->
    <ion-avatar class="notPhoto" item-start *ngIf="currentUser && currentUser.photoURL == null && displayName != null">
        <span class="displayName">{{ displayName }}</span>
        <ion-badge id="statusBadge" (click)="showStatus()" [style.background-color]="myStatus">V</ion-badge>
    </ion-avatar>
    <ion-badge *ngIf="badgeVisible" class="notifiBadge" (click)="showNotify()">&nbsp;</ion-badge>
    <h2 class="user-name" *ngIf="currentUser.displayName != null">{{ fullName }}
        <button end ion-button icon-only clear color="dark" style="float: right" (click)="showMenu()">
            <ion-icon name="more"></ion-icon>
        </button>
        <button end ion-button icon-only clear color="dark" style="float: right;margin-right: 7px;color:#999" (click)="showNotify()">
            <ion-icon name="list-box"></ion-icon>
        </button>
    </h2>
    <h2 class="user-name" *ngIf="currentUser.displayName == null">{{ currentUser.email }}
        <button end ion-button icon-only clear color="dark" style="float: right" (click)="showMenu()">
            <ion-icon name="more"></ion-icon>
        </button>
        <button end ion-button icon-only clear color="dark" style="float: right;margin-right: 7px;color:#999" (click)="showNotify()">
            <ion-icon name="list-box"></ion-icon>
        </button>
    </h2>
  </ion-item>
  <div id="popup" *ngIf="menuShow">
    <ul>
        <li id="profileSetting" (click)="ipc.send('loadGH','https://product.bizsquad.net/teamlist/account?token='+'customToken')">My Account</li>
        <li id="signoutBtn" (click)="logout()">Sign out</li>
        <li id="exitBtn" (click)="windowClose()">Exit</li>
    </ul>
  </div> 
  <div id="popup" class="statusMenu" *ngIf="statusMenu">
    <ul> 
        <ion-badge class="selectBadge" color="secondary"></ion-badge><li (click)="changedStatus($event)">online</li>
        <ion-badge class="selectBadge" color="yellow"></ion-badge><li (click)="changedStatus($event)">wait</li>
        <ion-badge class="selectBadge" color="danger"></ion-badge><li (click)="changedStatus($event)">busy</li>
    </ul>
  </div>
  <div class="appSelectArea">
    <span>Taskbox</span>
        <ul>
            <li>
                <button id="extMember" (click)="ipc.send('loadGH','https://product.bizsquad.net/teamlist/members?gid='+group.gid+'&token='+customToken);">
                    <img src="imgs/member.svg"> 
                    <span class="title">Member</span> 
                </button>
            </li>
            <li>
                <button id="extBbs" [disabled]="isPartner" (click)="ipc.send('loadGH','https://product.bizsquad.net/bbs/'+group.gid+'&token='+customToken);">
                    <img src="imgs/notice.svg">
                    <span class="title">Notice</span>
                </button>
            </li>
            <li>
                <button [disabled]="!manager" (click)="ipc.send('loadGH','https://product.bizsquad.net/teamlist/members?gid='+group.gid+'&token='+customToken);">
                    <img src="imgs/setting.svg">
                    <span class="title">Management</span>
                </button>
            </li>
            <!-- 현재 없는 기능이므로 기능 추가시 주석 해제 후 추가 -->
            <li>
                <!-- <button id="plusTaskbox">
                    <img style="margin-top: 0 !important" src="imgs/plus.svg">
                </button> -->
            </li>
            <li>
                <!-- <button disabled id="extApproval">
                    <img src="imgs/approval.svg">
                    <span class="title">Apporoval</span>
                </button> -->
            </li>
            <li>
                <!-- <button disabled id="extStorage">
                    <img src="imgs/cloud.svg">
                    <span class="title">Storage</span>
                </button> -->
            </li>
            <li>
                <!-- <button disabled id="extEstablishment">
                    <img src="imgs/establishment.svg">
                    <span class="title">establishment</span>
                </button> -->
            </li>
            <li>
                <!-- <button disabled id="extDocument">
                    <img src="imgs/document.svg">
                    <span class="title">Document</span>
                </button> -->
            </li>
        </ul>
    </div>
    <div class="appSelectArea selectApps">
        <div>
            <span>Apps</span>
            <ion-icon class="addLinkButton" style="float:right" name="add" (click)="presentPopover()"></ion-icon>
        </div>
        <ul>
            <ng-container *ngFor="let link of userCustomLinks">
                <li>
                    <button (mouseenter)="link.data.hidden=false" (mouseleave)="link.data.hidden=true" style="cursor: default;">
                        <ion-icon name="remove-circle" class="link-remove" 
                        (click)="removeLink($event,link)" [hidden]="link.data.hidden"></ion-icon>
                        <img (click)="goLink($event,link)" *ngIf="link.data.img" style="width: 40px;  height: 40px;" src="{{ link.data.img }}" style="cursor: pointer;">
                        <img (click)="goLink($event,link)" *ngIf="!link.data.img" style="width: 28px;  height: 28px;" src="{{ getFavicons + link.data.url }}" style="cursor: pointer;"> 
                        <span (click)="goLink($event,link)" class="title" style="cursor: pointer;">{{ link.data.title }}</span> 
                    </button>
                </li>
            </ng-container>
        </ul>
    </div>
</ion-content>
<ion-footer no-padding>
    <p style="margin-left: 10px">Bizsquad is powered by <span class="newturens" (click)="ipc.send('loadGH','https://www.bizsquad.net/')">Newturns</span> Inc.</p>
</ion-footer>