<ion-content no-padding class="content-color">
  <ion-item no-lines>
    <!-- 프로필 사진이 있으면 -->
    <ion-avatar item-start *ngIf="currentUser && currentUser.photoURL">
        <img class="photoURL" src="{{currentUser.photoURL}}">
        <ion-badge id="statusBadge" (click)="showStatus()" [style.background-color]="myStatus">V</ion-badge>
    </ion-avatar>
    <!-- 프로필 사진이 없으면 -->
    <ion-avatar class="notPhoto" item-start *ngIf="currentUser && currentUser.photoURL == null && displayName != null">
        <span class="displayName">{{ displayName }}</span>
        <ion-badge id="statusBadge" (click)="showStatus()" [style.background-color]="myStatus">V</ion-badge>
    </ion-avatar>
    <ion-badge *ngIf="badgeVisible" class="notifiBadge" (click)="showNotify()">&nbsp;</ion-badge>
    <h2 class="user-name" *ngIf="currentUser.displayName != null">{{ fullName }}
        <button end ion-button icon-only clear color="dark" style="float: right" (click)="showMenu()">
            <ion-icon name="more"></ion-icon>
        </button>
        <button end ion-button icon-only clear color="dark" style="float: right;margin-right: 7px;color:#999" (click)="showNotify()">
            <ion-icon name="list-box"></ion-icon>
        </button>
    </h2>
    <h2 class="user-name" *ngIf="currentUser.displayName == null">{{ currentUser.email }}
        <button end ion-button icon-only clear color="dark" style="float: right" (click)="showMenu()">
            <ion-icon name="more"></ion-icon>
        </button>
        <button end ion-button icon-only clear color="dark" style="float: right;margin-right: 7px;color:#999" (click)="showNotify()">
            <ion-icon name="list-box"></ion-icon>
        </button>
    </h2>
  </ion-item>
  <div id="popup" *ngIf="menuShow">
    <ul>
        <li id="profileSetting" (click)="ipc.send('loadGH','https://www.bizsquad.net/teamlist/account?token='+'customToken')">My Account</li>
        <li id="signoutBtn" (click)="logout()">Sign out</li>
        <li id="exitBtn" (click)="windowClose()">Exit</li>
    </ul>
  </div> 
  <div id="popup" class="statusMenu" *ngIf="statusMenu">
    <ul> 
        <ion-badge class="selectBadge" color="secondary"></ion-badge><li (click)="changedStatus($event)">online</li>
        <ion-badge class="selectBadge" color="orange"></ion-badge><li (click)="changedStatus($event)">wait</li>
        <ion-badge class="selectBadge" color="danger"></ion-badge><li (click)="changedStatus($event)">busy</li>
    </ul>
  </div>
  <div class="appSelectArea">
    <span>Taskbox</span>
        <ul>
            <li>
                <button id="extMember" (click)="ipc.send('loadGH','https://www.bizsquad.net/teamlist/members?gid='+group.gid+'&token='+customToken);">
                    <img src="imgs/member.svg"> 
                    <span class="title">Member</span> 
                </button>
            </li>
            <li>
                <button id="extBbs" [disabled]="isPartner" (click)="ipc.send('loadGH','https://www.bizsquad.net/main/bbs?gid='+group.gid+'&token='+customToken);">
                    <img src="imgs/notice.svg">
                    <span class="title">Notice</span>
                </button>
            </li>
            <li>
                <button [disabled]="!manager" (click)="ipc.send('loadGH','https://www.bizsquad.net/teamlist/members?gid='+group.gid+'&token='+customToken);">
                    <img src="imgs/setting.svg">
                    <span class="title">Management</span>
                </button>
            </li>
            <!-- 현재 없는 기능이므로 기능 추가시 주석 해제 후 추가 -->
            <li>
                <button disabled id="plusTaskbox">
                    <img style="margin-top: 0 !important" src="imgs/plus.svg">
                </button>
            </li>
            <li>
                <!-- <button disabled id="extApproval">
                    <img src="imgs/approval.svg">
                    <span class="title">Apporoval</span>
                </button> -->
            </li>
            <li>
                <!-- <button disabled id="extStorage">
                    <img src="imgs/cloud.svg">
                    <span class="title">Storage</span>
                </button> -->
            </li>
            <li>
                <!-- <button disabled id="extEstablishment">
                    <img src="imgs/establishment.svg">
                    <span class="title">establishment</span>
                </button> -->
            </li>
            <li>
                <!-- <button disabled id="extDocument">
                    <img src="imgs/document.svg">
                    <span class="title">Document</span>
                </button> -->
            </li>
        </ul>
    </div> 
    <div class="appSelectArea selectApps">
        <span>Apps</span>
        <ul>
            <li>
                <button (click)="ipc.send('loadGH','https://mail.google.com/mail/u/0/?tab=wm#inbox');">
                    <img style="width: 40px;  height: 40px;" src="imgs/Gmail_Icon.svg"> 
                    <span class="title">Gmail</span> 
                </button>
            </li>
            <li>
                <button (click)="ipc.send('loadGH','https://calendar.google.com/calendar/r?tab=mc&pli=1');">
                    <img src="imgs/Google-calendar.svg">
                    <span class="title">Calender</span>
                </button>
            </li>
            <li>
                <button (click)="ipc.send('loadGH','https://drive.google.com/drive/my-drive');">
                    <img src="imgs/Google_Drive_Logo.svg">
                    <span class="title">Drive</span>
                </button>
            </li>
            <li>
                <button (click)="ipc.send('loadGH','https://www.google.com/maps');">
                    <img src="imgs/GoogleMaps_logo.svg">
                    <span class="title">Maps</span>
                </button>
            </li>
            <li>
                <button (click)="ipc.send('loadGH','https://kr.linkedin.com/');">
                    <img src="imgs/Linkedin_icon.svg">
                    <span class="title">Linkedin</span>
                </button>
            </li>
            <li>
                <button disabled id="plusTaskbox">
                    <img style="margin-top: 0 !important" src="imgs/plus.svg">
                </button>
            </li>
            <li>
                <!-- <button (click)="ipc.send('loadGH','');">
                    <img src="">
                    <span class="title"></span>
                </button> -->
            </li>
            <li>
                <!-- <button (click)="ipc.send('loadGH','www.naver.com')">
                    <img src="">
                    <span class="title"></span>
                </button> -->
            </li>
        </ul>
    </div>
</ion-content>
<ion-footer>
    <p>Copyright by<a href="#" (click)="ipc.send('loadGH','https://opentaskcloud.com');"> Newturns</a> Inc. All Rights is Reserved.</p>
</ion-footer>