app-message {
  .message-frame {

    width: 100%;

    .message-content {
      .post-title{
        word-wrap: break-word;
      }
      .msg-file-frame {
        p {
          word-wrap: break-word;
        }
        a {
          word-wrap: break-word;
        }
        // files
        .msg-file{
        }
      }
    }


  }

  .textdrag{
    -webkit-user-select: text;
  }

  // 안먹음...
  .ql-editor-custom .ql-editor{
    padding: 0 !important;
  }

}

