page-member {
    ion-avatar{
        border-radius: 100%;
        cursor: pointer;
    }
    .statusBadge {
        position: absolute;
        border-radius: 100%;
        padding:0;
        width: 13px;
        height: 13px;
        left:45px;
        bottom: 10px;
        color: transparent;
        font-size: 7px;
        line-height: 1.5;
        border: 2px solid white;
        cursor: pointer;
        display: inherit;
    }

    // scroll bar
    .scrollable{
        height: 100%;
        overflow: auto !important;
    }
    ::-webkit-scrollbar,
    *::-webkit-scrollbar {
        display: inherit;
    }
    ::-webkit-scrollbar-track {
        // -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3) !important;
        // border-radius: 8px!important;
        background-color: #f6f6f6!important;
        margin-bottom: 45px;
    }
    ::-webkit-scrollbar {
        width: 12px!important;
        background-color: #f6f6f6!important;
    }
    ::-webkit-scrollbar-thumb {
        // border-radius: 8px!important;
        // -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,.3)!important;
        border: 2px solid #f6f6f6 !important;
        background-color: #BEBEBE!important;
        opacity: 0.7;
        border-radius: 7px !important;
    }


    .list{
        font-weight: bold;
        font-size: 14px;
        color: #333;
    }
    .notPhoto{
        text-align: center;
    }
    .displayName{
        font-weight: bold;
        color:white;
        line-height: 2.5;
    }
    .user-name{
        line-height: 2;
        font-size: 14px;
    }
    .userList:hover{
        background-color: rgba(91, 156, 237, 0.1);
    }
    .member-count{
        color:#999;
    }
    .listBorder{
        border-bottom: 1px solid #e0e0e0 !important;
    }

    .ion-md-customCrown {
      background: url(../../www/imgs/crown.svg) 50% 50% no-repeat;
      height: 16px;
      width: 16px;
      float: right;

    }
}
